<h1>Mes participations</h1>

<% @participants.order("id asc").each do |participant| %>
      <% occurrence = participant.occurrence %>
      <% event = occurrence.event %>
  <div class="row">
    <div class="card-participant">
      <div class="col-lg-2 card-participant-thumb">
         <% if event.pictures.count > 0 %>
          <%= cl_image_tag event.pictures.first.image_url , :width => 140, :height => 200, :crop => :fill %>
        <% end %>
      </div>
      <%= simple_form_for participant do |f| %>
        <div class="col-lg-7 card-participant-img">
          <p class="card-participant-title"><%= event.label %></p>
          <p class="card-participant-date">
            <%= occurrence.date.strftime('%a %d %b %Y') %> à
            <%= occurrence.time.strftime('%H') %> :
            <%= occurrence.time.strftime('%M') %>
          </p>
          <%= f.input :content, input_html: {value: f.object.content} %>
        </div>
        <div class="col-lg-3 card-participant-rating">
          <%= f.input :rating, input_html: {value: f.object.rating}, collection: 0..5 %>
          <%= f.button :submit, class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

