<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <%= simple_form_for(@event, html: { class: '' }) do |f| %>
    <%#= simple_form_for(@event, html: { class: 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :category %>
      <%= f.input :label, placeholder: "un nom pour votre évènement" %>
      <%= f.input :description %>
      <%= f.input :city %>
      <%= f.input :address %>
      <%= f.input :phone %>
      <%= f.input :place, input_html: { min: 0 } %>
      <%= f.input :participation, input_html: { min: 0}  %>
        <%= f.button :submit, class: "btn btn-primary btn-sm" %>
    <% end %>
    <%= link_to "Back", @event, class: "btn btn-info btn-sm" %>
  </div>
</div>
