<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= simple_form_for(@event, html: { class: 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :category %>
      <%= f.input :label, placeholder: "un nom pour votre évènement" %>
      <%= f.input :description %>
      <%= f.input :city %>
      <%= f.input :address %>
      <%= f.input :phone %>
      <%= f.input :place, input_html: { min: 0 } %>
      <%= f.input :participation, input_html: { min: 0 }  %>

      <p>
        <%= f.button :submit, class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
