<h1><%= @event.label %></h1>
<p>
  <%= link_to "Ajouter une image", new_event_picture_path(@event),
    class: "btn btn-primary" %>
  <%= link_to "Ajouter une date", new_event_occurrence_path(@event),
    class: "btn btn-primary" %>
  <%= link_to "Back", root_path, class: "btn btn-info btn-back" %>
</p>
<div class="row">
  <% @event.pictures.each do |picture| %>
    <div class="col-xs-6 col-sm-3">
      <%= cl_image_tag picture.image_url, transformation: "image_thumb" %>
      <%= picture.label %>
    </div>
  <% end %>
</div>
<div class="row">
  <% @event.occurrences.each do |occurrence| %>
    <div class="col-xs-6 col-sm-3">
      <%= occurrence.date %>
      <%= occurrence.time %>
    </div>
  <% end %>
</div>
